<header>
  <section class="top-header">
    <div class="header-logo">
      <h1>SUA LOGO AQUI</h1>
    </div>
    <div class="header-redesociais">
      <i class="bi bi-instagram"></i>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-tiktok"></i>
    </div>
  </section>

  <section class="bottom-header">
    <div class="interface">
      <nav>
        <ul>
          <li><a href="#">Início</a></li>       <li class="drop-hover">
            <a href="#">Artigos <i class="bi bi-caret-down-fill"></i></a>
            <div class="drop">
              <li><a href="#">Direito Trabalhista</a></li>
              <li><a href="#">Direito Previdenciario</a></li>
              <li><a href="#">Direito Cível </a></li>
              <li><a href="#">Direito Criminal</a></li>
              <li><a href="#">Direito Tributário </a></li>
            </div>
          </li>
          <li>
            <a href="#">Notícias </a>
          </li>
          <li>
            <a href="#">Colunas</a>
          </li>

          <li><a href="#">Seja Colunista</a></li>
          <i class="bi bi-search"></i>
        </ul>
      </nav>
    </div>
  </section>
</header>
